VITE_SUPABASE_URL=https://liwbjnmuwcmpmgrvofhd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imxpd2Jqbm11d2NtcG1ncnZvZmhkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMTE4NDYsImV4cCI6MjA5NDY4Nzg0Nn0.9GcXUjbEa6JqECSuhER2HKTxua9i-oKc-5lbVyx5hNA